h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

.unvisible {
  display: none;
}

.breed-select {
  margin-bottom: 50px;
  width: 150px;
  height: 30px;
}

.error {
  color: tomato;
}

.text-content {
  margin-left: 20px;
  width: 300px;
}

.cat-info {
  display: flex;
}

image {
  object-fit: cover;
  width: 300px;
  height: 220px;
}

.title-breed {
  margin-bottom: 20px;
}

.breed-desc {
  margin-bottom: 20px;
}
